body {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: medium;
  line-height: 1.6;
  background-color: #f7f7f7;
  
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.page-header {
  text-align: center;
  margin-bottom: 30px;
}

.qna-list {
  margin-top: 20px;
}

.qna-list .table th, .qna-list .table td {
  vertical-align: middle;
}

.qna-list .table th {
  font-weight: bold;
}

.qna-list .table td:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.qna-list .table a {
  color: #333;
  text-decoration: none;
}

.qna-list .table a:hover {
  color: #007bff;
}

.qna-list .btn {
  margin-top: 10px;
}

.qna-footer {
  text-align: right;
  margin-top: 20px;
}

.answer-complete-button {
  background-color: #57b4ea; 
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer-complete-button:hover {
  background-color: #1f78de; 
}

#noticeForm .modal-content {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
#noticeForm .modal-header, 
#noticeForm .modal-footer {
    background: #f7f7f7;
    color: #333;
    border: none;
}

#noticeForm .modal-title {
    color: #555;
}
#noticeForm input, 
#noticeForm textarea {
    border: 1px solid #e1e1e1;
    box-shadow: none;
    padding: 10px;
    transition: border 0.2s;
    width: 100%;
    margin-top: 5px;
    resize: none;  /* 줄바꿈 처리 */
}

#noticeForm input:focus, 
#noticeForm textarea:focus {
    border-color: #aaa;
    outline: none;
}
#noticeForm .btn:hover {
  opacity: 0.9;
}
#noticeForm .modal-body {
  padding: 20px;
}

#noticeForm .form-inline {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#noticeForm .input-group {
  width: 100%;
  margin-bottom: 15px;
}

#noticeForm label.input-group-text {
  display: block;
  margin-bottom: 5px;
}

#noticeForm input.form-control,
#noticeForm textarea.form-control {
  width: 100%;
}

#noticeForm textarea.form-control {
  height: auto; /* This will override the h-25 class you have, making the textarea more responsive to content */
}




